<ul class="nav justify-content-center ">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">CATEGORIA</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/categoria">CADASTRAR</a></li>
          <li><a class="dropdown-item" href="/listagemCategorias">LISTAR</a></li>
        </ul>
      </li>
    <li class="nav-item">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">FORNECEDOR</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/fornecedor">CADASTRAR</a></li>
            <li><a class="dropdown-item" href="/listagemFornecedores">LISTAR</a></li>
          </ul>
        </li>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">MARCA</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/marca">CADASTRAR</a></li>
            <li><a class="dropdown-item" href="/listagemMarcas">LISTAR</a></li>
          </ul>
        </li>
    </li>
</ul>