<!-- IMPORTAÇÃO DO HEADER -->
<%- include('partials/header') %>

    <!-- IMPORTAÇÃO DO MENU -->
    <div class="container-fluid">
        <%- include('partials/menu')%>
    </div>

<!-- IMPORTAÇÃO DO FOOTER -->
<%- include('partials/footer') %>